<div [hidden]="isAdded">
  <h2>New Book Information</h2>

  <form (ngSubmit)="onSubmit()">
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field>
          <input matInput id="title" type="text" required [(ngModel)]="book.title" name="title" placeholder="Title">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
          <input matInput id="author" type="text" required [(ngModel)]="book.author" name="author" placeholder="Author">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
          <input matInput id="publisher" type="text" required [(ngModel)]="book.publisher" name="publisher" placeholder="Publisher">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field>
          <input matInput id="publicationDate" type="date" required [(ngModel)]="book.publicationDate" name="publicationDate" placeholder="Publication Date">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-select placeholder="Category" id="category" name="category" [(ngModel)]="book.category">
          <mat-option value="Management">Management</mat-option>
          <mat-option value="Fiction">Fiction</mat-option>
          <mat-option value="Engineering">Engineering</mat-option>
          <mat-option value="Programming">Programming</mat-option>
          <mat-option value="Arts &amp; Literature">Arts &amp; Literature</mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-select placeholder="Format" id="format" name="format" [(ngModel)]="book.format">
          <mat-option value="Paperback">Paperback</mat-option>
          <mat-option value="Hardcover">Hardcover</mat-option>
        </mat-select>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
          <input matInput id="pageNumber" type="number" [(ngModel)]="book.numberOfPages" name="numberOfPages" step="1" placeholder="Number of Pages">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
          <input matInput id="isbn" type="text" required [(ngModel)]="book.isbn" name="isbn" placeholder="ISBN">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
          <input matInput id="listPrice" type="number" [(ngModel)]="book.listPrice" name="listPrice" step="0.01" placeholder="List Price">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
          <input matInput id="ourPrice" type="number" [(ngModel)]="book.ourPrice" name="ourPrice" step="0.01" placeholder="Our Price">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
          <input matInput id="shippingWeight" type="number" [(ngModel)]="book.shippingWeight" name="shippingWeight" step="0.01" placeholder="Shipping Weight">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-select placeholder="Language" id="language" name="language" [(ngModel)]="book.language">
          <mat-option value="English">English</mat-option>
          <mat-option value="Spanish">Spanish</mat-option>
        </mat-select>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
          <input matInput id="inStockNumber" type="number" [(ngModel)]="book.inStockNumber" name="inStockNumber" step="0.01" placeholder="Numbers In Stock">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        &nbsp;
        <mat-slide-toggle [(ngModel)]="book.active" name="active">Active</mat-slide-toggle>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-form-field>
      <textarea matInput id="description" [(ngModel)]="book.description" name="description" placeholder="Description" required></textarea>
    </mat-form-field>

    <mat-grid-list cols="4" rowHeight="70px">
      Image &nbsp;
      <input id="tile" type="file" name="bookImage" (change)="onFilesChange($event)">
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <button class="mat-primary" mat-raised-button type="submit">Add</button>
      <a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
    </mat-grid-list>
  </form>
</div>
<div [hidden]="!isAdded">
  <h3>Book added successfully!</h3>
  <mat-grid-list cols="4" rowHeight="70px">
    <button class="mat-primary" mat-raised-button routerLink="/books">Book List</button>
  </mat-grid-list>
</div>